<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga animi provident minus veniam 
            eveniet autem harum eaque fugiat atque hic, tenetur voluptatem voluptatibus illo odio distinctio. Minima, magni. Eaque, exercitationem?</p>
    </div>
</div>