<div class="jumbotron mt-4">
    <h1 class="display-4">Nota app Nodejs y Mongodb</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magnam in iste at eveniet 
        ipsa mollitia molestias consectetur quo dicta explicabo ut et, ullam maiores sed est debitis culpa enim.</p>
        <a href="https://www.google.com.gt/" class="btn btn-primary btn-lg">Google</a>

</div>